@import "../../styles/variable.scss";

.refund-policy {
  width: 100%;
  padding: 64px 15%;

  &-section {
    margin-top: 32px;
    font-size: 18px;
    font-weight: 600;

    & > p {
      font-weight: normal;
      font-size: 16px;
    }
  }
}

@media (max-width: 768px) {
  .refund-policy {
    padding: 32px 8px;
  }
}
